body {
    margin: 0;
    padding: 0;
 
}

.box {
    background-color: #fff;
    width: fit-content;
    margin: 60px; 
    padding: 20px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
}

h1 {
    margin: 0;
    position: absolute;
    top: -15px; 
    left: 20px;
    z-index: 1; 
}



.close-btn {
    position: absolute;
    top: -15px; 
    right: -15px; 
    background: red;
    border: none;
    border-radius: 50%;
    color: white;
    width: 30px;
    height: 30px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    z-index: 1; 
}

.wrapper {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 10px;
}

.wrapper iframe {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

